<div class="button-bar">

	<button class="button button-clear"
	        ui-sref="favorites.list"
	        ng-class="{
	        	'button-positive': $state.includes('favorites')
	        }"
	><i class="icon ion-ios-heart"></i></button>

	<button class="button button-clear"
	        ui-sref="bookmarks.list"
	        ng-class="{
	        	'button-positive': $state.includes('bookmarks')
	        }"
	><i class="icon ion-ios-unlocked"></i></button>

	<button class="button button-clear"
			ng-show="$settings.account_management"
	        ui-sref="accounts.list"
	        ng-class="{
	        	'button-positive': $state.includes('accounts')
	        }"
	><i class="icon ion-cloud"></i></button>

	<button class="button button-clear"
	        ui-sref="settings"
	        ng-class="{
	        	'button-positive': $state.includes('settings'),
	        	'icon-spin': jobs > 0
	        }"
	><i class="icon ion-gear-a"></i></button>
</div>
