<ion-list ng-keydown="keydown($event)" id="bookmarks">
	<a
		class="item item-avatar item-button-right"
    ng-if="bookmark.is_favorite"
		ng-class="{active: $index == position}"
		ng-click="getToken(bookmark)"
		ng-repeat="bookmark in bookmarks.bookmarks
		          |byNameOrAccountNumber:query
		          |orderBy:orderProp"
	>
		<img ng-if="!gravatar(bookmark)" ng-src="{{bookmark.avatar_url}}" />
		<img ng-if="gravatar(bookmark)" gravatar-src="bookmark.avatar_url || bookmark.name" />
		<h2>{{bookmark.name}}</h2>
		<p>{{bookmark.account_number}}/{{bookmark.role_name}}</p>
		<button
			class="button button-clear button-positive"
			ui-sref="bookmarks.show({bookmarkId: bookmark.id})"
			ng-click="$event.stopPropagation()"
		><i class="icon ion-ios-information-outline"></i></button>
	</a>
</ion-list>
